{% import "helpers/macros.twig" as macros %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <title>{% block title -%}Dz - nhymxu{%- endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="{{ base_path() }}/">

    <meta name="description" content="{{ page_description }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ block['title'] }}">
    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:site_name" content="Dz notes">
    <meta property="og:description" content="{{ og_site_desc }}">

    <link rel="short icon" href="{{ page_icon }}">

    {{ macros.gtm_script() }}

    {{ macros.css('static/theme/simple/assets/css/style.css') }}
</head>
<body>

{{ macros.gtm_frame() }}

<!-- Header -->
<header>
    <section class="container container-link">
        <nav>
            <h1><a href="{{ url_for("home") }}" class="logo">Dz notes</a></h1>
            {% include '_partial/nav.twig' %}
        </nav>
    </section>
</header>
<!-- /Header -->

<!-- Body Content -->
{% block body %}{% endblock %}
<!-- /Body Content -->

<!-- Footer -->
{% include '_partial/footer.twig' %}
<!-- /Footer -->

<!-- Scripts -->
{{ macros.js('static/theme/simple/assets/js/highlight.pack.js') }}
<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>
