{% extends '_layout.twig' %}

{% set tag_year = "" %}

{% block body %}
        {% for post in posts %}
        <article id="{{ post.slug }}" class="article article-type-index" itemscope itemprop="blogPost">
            <h2 class="title" itemprop="name">{{ post.title }}</h2>

            <h4 class="time">
                <time datetime="{{ post.published_at }}" itemprop="datePublished">
                    Saturday, August 01, 2020
                    <!-- {{ post.published_at }} -->
                </time>
            </h4>

            <section class="content">
                {{ post.content|u.truncate(200, '...', false)|markdown_to_html }}
            </section>

            <p class="article-more-link">
                <a href="{{ post.url }}">Read More</a>
            </p>
        </article>
        {% endfor %}
    </section>
{% endblock %}
