{% import "@admin/helpers/macros.twig" as macros %}
{% import "@admin/helpers/svg_icons.twig" as icons %}
<tr class="text-gray-700 dark:text-gray-400">
  <td class="px-4 py-3">
    <div class="flex items-center text-sm">
      {#
      <!-- Avatar with inset shadow -->
      <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
          <img
              class="object-cover w-full h-full rounded-full"
              src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
              alt=""
              loading="lazy"
          />
          <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
      </div>
      #}
      <div>
        <p class="font-semibold">{{ tag.name }}</p>
        <p class="text-xs text-gray-600 dark:text-gray-400">&nbsp;</p>
      </div>
    </div>
  </td> <!-- name -->
  <td class="px-4 py-3 text-xs">{{ tag.slug }}</td><!-- slug -->
  <td class="px-4 py-3">
    <div class="flex items-center space-x-4 text-sm">
      <a href="#" data-tag_id="{{ tag.id }}" data-tag_name="{{ tag.name }}" data-tag_slug="{{ tag.slug }}">
        <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray">
          {{ icons.pencil() }}
        </button>
      </a>
      <a href="">
        <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray">
          {{ icons.trash() }}
        </button>
      </a>
    </div>
  </td><!-- action -->
</tr>
